extends layout

block content
  h1= title
  div(id="init-game")
    p. 
      Welcome to #{title} as made by Dave Hyatt and Ting Chang.  If you would like to see a fully functional version of this awesome card game, you can check out Rio Gande Games' official version 
      <a href='http://www.playdominion.com'>HERE</a>
    p.
      If on the other hand, you'd like to check out the code for this project, you can see the github project 
      <a href='https://github.com/BioDigitalJazz/Dominion'>HERE</a>
    p.
      Please enter your name and click the Join button to join a game. The game can start after two to four people have joined.  Please note that this project does not support concurrent games, so if there is already a game in progress, you will need to try again later.
    input(type="text" placeholder="Enter your name")
    button(id="btn-join-game") Join

    input(class="joined-players" name="player-name[]" type="text" disabled
          placeholder="Waiting for player")

    input(class="joined-players" name="player-name[]" type="text" disabled
          placeholder="Waiting for player")

    input(class="joined-players" name="player-name[]" type="text" disabled
          placeholder="Waiting for player")

    input(class="joined-players" name="player-name[]" type="text" disabled
          placeholder="Waiting for player")
    <br />
    button(id="btn-start-game") Start Game
  script(src='/javascripts/client.js')
