extends layout

block content
  h1= title
  div(id="init-game")
    p. 
      Welcome to #{title}. Please enter your name and click the Join button to join a game. The first person who joined can start the game after two to four people have joined.
    input(type="text" placeholder="Enter your name")
    button(id="btn-join-game") Join

    input(class="joined-players" name="player-name[]" type="text" disabled
          placeholder="Waiting for player")

    input(class="joined-players" name="player-name[]" type="text" disabled
          placeholder="Waiting for player")

    input(class="joined-players" name="player-name[]" type="text" disabled
          placeholder="Waiting for player")

    input(class="joined-players" name="player-name[]" type="text" disabled
          placeholder="Waiting for player")
    <br />
    button(id="btn-start-game") Start Game
  script(src='/javascripts/client.js')
